h2{
	font-family: American Typewriter, serif;
	text-align: center;
	color: white;
	padding-bottom: 15px;
	font-size: 25px;
}

li{
	list-style-type: none;
	float: center;
	font-size: 30px;
	padding: 10px;
	font-family: American Typewriter, serif;
}


li:hover{
	border-top: 5px solid black;
	background-color: whitesmoke;
	text-align: center;
}

.cv li:hover{
	list-style: none;
}